@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #efe9bc;
    --color-base:#8495b1;
    --color-base2:#6683a0;
    --color-brand: #286298;
    --color-brand2: #76c8f9;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-weight: 700;
}

h1 {
    font-size:xx-large
}

.navbar {
    background-color: var(--color-base);
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}
.navbar .nav-link:hover {
    color: var(--color-brand);
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color:var(--color-brand);
}

img {
    width: 100%;
}

.text-brand {
    color:var(--color-brand);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255, 255, 255 ,0.1)
}
/* Navbar */

@media(min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgba(132, 149, 177, 0.665),rgba(132, 149, 177, 0.659)), url(../images/filip-zrnzevic-QsWG0kjPQRY-unsplash.jpg);
        background-size: cover;
        background-position: center;
        
}

    #content-wrapper{
        padding-left: var(--sidbar-width)
    }
  
}

/* BTN */

.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}

.btn-brand:hover, .btn-brand:focus {
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-heading);
}

.link-custom {
    font-weight: 700;
    position:relative
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top:100%;
    transition: all 0.8s;
}

.link-custom:hover::after {
    width: 100%;
}

.text-brand {
    font-size: 25px;
}

.bg-base {
    background-color: var(--color-base);
}

#contact .form-control {
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body)
}

#contact .form-control:focus {
    border-color: var(--color-brand);
}